body {
    font-size: 100%;
    cursor: crosshair;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-with-text {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image {
    max-width: 300px;
    margin-right: 20px;
}

.text-link {
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.3em
}

.paragraph {
    align-items: end;
    text-align: left;
    font-size: 1em
}
  
